.item-text {
  overflow-y: hidden;
}

/* Стили для разных разрешений экранов */
/* item-text */
.item-text_large {
  height: 14.38vw;
}

.item-text_desktop {
  height: 11.86vw;
  padding-right: 7.17vw;
}

.item-text_laptop {
  height: 29.69vw;
}