.info-poster {
  border: 1px solid var(--light30);
  border-radius: 40px;
}

.info-poster_margined {
  margin-bottom: 40px;
}

/* Стили для разных разрешений экранов */
/* info-poster */
.info-poster_large {
  width: 27.08vw;
  height: 34.38vw;
}

.info-poster_desktop {
  width: 34.11vw;
  height: 43.34vw;
}

.info-poster_laptop {
  width: 37.11vw;
  height: 47.07vw;
}

.info-poster_tablet {
  width: 100%;
  height: 116.93vw;
}

.info-poster_mobile {
  width: 100%;
  height: 117.15vw;
}