.header {
  width: 100%;
  height: 60px;
  background-color: transparent;
  transition: background-color 1.2s;
  position: fixed;
  top: 0;
  left: 0;
}

.colored {
  background-color: var(--light60);
}