.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

/* Стили для разных разрешений экранов */
/* main */
.main_lagre_screen {
  width: 83.75vw;
  margin-bottom: 4.38vw;
}

.main_desktop {
  width: 84.33vw;
  margin-bottom: 4.10vw;
}

.main_laptop {
  width: 91.80vw;
  margin-bottom: 8.20vw;
}

.main_tablet {
  width: 92.19vw;
  margin-bottom: 8.85vw;
}

.main_mobile {
  width: 92.27vw;
  margin-bottom: 16.43vw;
}