.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light60);
}

/*Стили для разных разрешений экранов*/
.projects_large-screen {
  gap: 3.13vw;
  border-radius: 200px;
  padding-block: 6.88vw;
  padding-inline: 8.13vw;
}