.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light60);
}

.projects__button-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects__link {
  font-family: "Unbounded", sans-serif;
  width: fit-content;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  padding-block: 16px;
  padding-inline: 32px;
  color: var(--nephritis100);
}

/*Стили для разных разрешений экранов*/
.projects_large-screen {
  gap: 3.13vw;
  border-radius: 200px;
  padding-block: 6.88vw;
  padding-inline: 8.13vw;
}