.slider__photo {
  border-radius: 40px;
  width: 100%;
  object-fit: cover;
}

/* Стили для разных разрешений экранов */
.slider__photo_large-resolution {
  max-height: calc(100% - 4px - 48px);
}

.slider__photo_small-resolution {
  max-height: calc(100% - 4px - 24px);
}