.project-link {
  width: min-content;
}

/* .project-link:hover .project__image {
  animation: backgroundZoomIn 0.2s linear forwards;
}

.project-link .project__image {
  animation: backgroundZoomOut 0.2s linear forwards;
}

.project-link:hover h3 {
  animation: textColorZoomIn 0.2s linear forwards;
}

.project-link h3 {
  animation: textColorZoomOut 0.2s linear forwards;
} */

.project-link_animated:hover .project__image {
  animation: backgroundZoomIn 0.2s linear forwards;
}

.project-link_animated .project__image {
  animation: backgroundZoomOut 0.2s linear forwards;
}

.project-link_animated:hover h3 {
  animation: textColorZoomIn 0.2s linear forwards;
}

.project-link_animated h3 {
  animation: textColorZoomOut 0.2s linear forwards;
}

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project_inactive {
  opacity: 0.5;
}

.project__top {
  position: relative;
}

.project__image-container {
  border-radius: 500px;
  overflow: hidden;
}

/* .project__image {
  display: block;
  background-image: var(--background-url);
  background-position: 60% 40%;
  background-size: cover;
  border-radius: 500px;
} */

.project__image {
  object-fit: cover;
  /* display: block; */
  object-position: 60% 45%;
  /* border-radius: 500px; */
}

.project__bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project__short-text {
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/* Стили для разных разрешений экранов */
.project-link_tablet {
  /* flex-grow: 1; */
  width: 92.19vw;
}

.project_large-resolution {
  gap: 20px;
}

.project_small-resolution {
  gap: 12px;
}

.project__top_large-resolution {
  padding: 16px 16px 24px;
}

.project__top_small-resolution {
  display: flex;
  padding-bottom: 24px;
}

.project__image_large-screen {
  width: 25.42vw;
  height: 14.38vw;
}

.project__image_desktop {
  width: 38.87vw;
  height: 20.20vw;
}

.project__image_laptop {
  width: 41.80vw;
  height: 26.95vw;
}

.project__image_tablet {
  width: 100%;
  height: 31.25vw;
  object-position: 60% 50%;
  /* flex-grow: 1; */
}

.project__image_mobile {
  width: 92.27vw;
  height: 57.97vw;
}

.project__bottom_large-resolution {
  height: 192px;
  padding-left: 20px;
  overflow-y: hidden;
}

.project__bottom_small-screen {
  height: fit-content;
}

/* @keyframes backgroundZoomIn {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
} */

@keyframes backgroundZoomIn {
  0% {
    scale: 100%;
  }

  100% {
    scale: 120%;
  }
}

/* @keyframes backgroundZoomOut {
  0% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
} */

@keyframes backgroundZoomOut {
  0% {
    scale: 120%;
  }

  100% {
    scale: 100%;
  }
}

@keyframes textColorZoomIn {
  0% {
    color: var(--navy);
  }

  100% {
    color: var(--project-color);
  }
}

@keyframes textColorZoomOut {
  0% {
    background-size: var(--project-color);
  }

  100% {
    background-size: var(--navy);
  }
}