.button {
  display: flex;
	justify-content: center;
	align-items: center;
  padding: var(--padding);
  background-color: var(--main-color);
  border-radius: 100px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: 0.02em;
  color: var(--text-color);
  border: none;
  margin: var(--margin);
  cursor: pointer;
  width: fit-content;
}

.button:hover {
  background-color: var(--hover-color);
}

.button:active {
  background-color: var(--active-color);
}

.button:disabled {
  border: 1px solid var(--disabled-color);
  color: var(--disabled-color);
  background-color: transparent;
}