.text {
  font-family: var(--font-family, serif);
  letter-spacing: 0.02em;
  display: block;
  width: var(--width);
  text-align: var(--text-align);
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  text-transform: var(--text-transform);
  color: var(--color);
  margin: var(--margin);
  padding: var(--padding);
}

.text_decorated {
  border: 2px solid var(--border-color);
  border-radius: var(--radius);
}
