.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  height: var(--height);
}

.team_large-gap {
  gap: 24px;
}

.team_middle-gap {
  gap: 20px;
}

.team_small-gap {
  gap: 12px;
}

.team_overflowed-y {
  overflow-y: auto;
}

.team_widthed {
  min-width: calc(100% + 14px);
}

.group-list_artists {
  padding-inline: 0;
}