/* .wrapper {
  display: flex;
  justify-content: center;
} */

.team {
  /* scroll-snap-align: center; */
  /* display: grid;
  grid-template-rows: min-content;
  grid-template-columns: var(--columns-count);
  grid-auto-flow: row; */
  /* scrollbar-width: none; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  height: var(--height);
}

.team_large-gap {
  gap: 24px;
}

.team_middle-gap {
  gap: 20px;
}

.team_small-gap {
  gap: 12px;
}

.team_overflowed-y {
  overflow-y: auto;
}

/* .team_faded {
  background: linear-gradient(180deg, var(--light80) 0%, rgba(247, 247, 247, 0) 10%, rgba(247, 247, 247, 0) 50%, rgba(247, 247, 247, 0) 90%, var(--light80) 100%);
} */

/* Стили для разных разрешений экранов */
/* .team_mobile {
  height: 486px;
} */