.merch-info-poster {
  display: flex;
  flex-direction: column;
}

.merch-info-poster_large-gap {
  gap: 24px;
}

.merch-info-poster_small-gap {
  gap: 20px;
}

.merch-item__top_info {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  border: 1px var(--light30) solid;
  padding-block: 0;
}

.merch-item__top_info_no-padding {
  padding-inline: 0;
}

.merch-item__image_info {
  width: 100%;
}

.merch-info-photo-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.merch-info-photo-list-item {
  opacity: 0.3;
}

.merch-info-photo-list-item_active {
  opacity: 1;
}

/* Стили для разных разрешений эканов */
.merch-item__image_info_large {
  width: 27.08vw;
  height: 27.08vw;
}

.merch-item__image_info_desktop {
  width: 34.10vw;
  height: 34.135vw;
}

.merch-item__image_info_laptop {
  width: 37.11vw;
  height: 37.086vw;
}

.merch-item__image_info_tablet {
  height: 92.125vw;
}

.merch-item__image_info_mobile {
  height: 92.211vw;
}