.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100vw;
}

.header_rounded {
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.header_not-rounded {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.header_colored {
  background-color: var(--header-bc-color, #FDFDFD);
}

.header_not-colored {
  background-color: transparent;
}

.header__wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: var(--light60);
  /* background-color: transparent; */
}

.logo {
  cursor: pointer;
}

.header__navigation {
  display: flex;
  flex-direction: row;
}

.react-navigation {
  position: absolute;
  top: 60px;
  left: 0;
  height: var(--navigation-height, 0);
  overflow-y: hidden;
  background-color: var(--light80);
  transition: var(--navigation-transition, unset);
  interpolate-size: allow-keywords;
}

.react-navigation::after {
  content: "";
  position: relative;
  top: -60px;
  z-index: 1;
  display: block;
  width: 100vw;
  height: 100dvh;
  background-color: var(--light80);
}

/* Стили для разных разрешений экранов */
/* header__wrapper */ 
.header__wrapper_mobile {
  justify-content: space-between;
  padding-right: 7.25vw;
  padding-left: 3.86vw;
}

/* header__navigation */
.header__navigation_small-resolution {
  flex-direction: row-reverse;
  align-items: center;
  gap: 52px;
}

.header__navigation_laptop {
  margin-left: 50.20vw;
}

.header__navigation_tablet {
  margin-left: 36.72vw;
}