.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 60px;
  background-color: var(--light60);
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  transition: background-color 1.2s;
}

.header_colored {
  background-color: var(--nephritis100);
  /* background-color: transparent; */
}

.logo {
  cursor: pointer;
}

.header__navigation {
  display: flex;
  flex-direction: row;
}

.react-navigation {
  position: absolute;
  top: 59px;
  left: 0;
  height: var(--navigation-height, 0);
  overflow-y: hidden;
  background-color: var(--light80);
  transition: var(--navigation-transition, unset);
  interpolate-size: allow-keywords;
}

.react-navigation::after {
  content: "";
  /* position: relative;
  top: -60px;
  z-index: 1; */
  display: block;
  width: 100vw;
  height: 100dvh;
  background-color: var(--light80);
}

/* Стили для разных разрешений экранов */
/* header__wrapper */ 
.header_mobile {
  justify-content: space-between;
  padding-right: 7.25vw;
  padding-left: 3.86vw;
}

/* header__navigation */
.header__navigation_small-resolution {
  flex-direction: row-reverse;
  align-items: center;
  gap: 52px;
}

.header__navigation_laptop {
  margin-left: 50.20vw;
}

.header__navigation_tablet {
  margin-left: 36.72vw;
}