.main_info-details {
  min-height: 65vh;
}

.info-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info-content_large-gap {
  gap: 40px;
}

.info-content_middle-gap {
  gap: 24px;
}

.info-content_small-gap {
  gap: 20px;
}

.info-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  grid-auto-flow: row;
}

.info-core {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info-description {
  display: flex;
  flex-direction: column;
}

/* Стили для разных разрешений экранов */
/* info-about */
.info-about_small-resolution {
  flex-direction: column-reverse;
  display: flex;
}

.info-about_laptop {
  row-gap: 5.86vw;
}

/* info-core */
.info-core_lagre {
  gap: 3.54vw;
  width: 48.33vw;
}

.info-core_desktop {
  gap: 1.76vw;
  width: 48.46vw;
}

.info-core_laptop {
  gap: 5.86vw;
  width: 52.73vw;
}

.info-core_laptop_spaned {
  grid-column: span 2;
  justify-self: flex-start;
  width: 100%;
}

.info-core_laptop~button {
  justify-self: flex-start;
}

.info-core_tablet {
  gap: 7.81vw;
}

.info-core_mobile {
  gap: 7.73vw;
}

/* info-description */
.info-description_large-resolution {
  gap: 24px;
}

.info-description_small-resolution {
  gap: 12px;
}