.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.main_heighed {
  min-height: 65vh;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation_columned {
  flex-direction: column-reverse;
}

.navigation_padding-large {
  padding-block: 36px;
}

.navigation_padding-small {
  padding-block: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
}

.info_rowed {
  flex-direction: row;
}

.info_columned {
  flex-direction: column;
}

.info_overflowed-y {
  overflow-y: scroll;
}

.info__content {
  display: flex;
}

.info__main {
  display: flex;
  flex-direction: column;
}

.info__desc {
  display: flex;
  flex-direction: column;
}

.info__title {
  max-height: 96px;
  overflow-y: hidden;
}

.info__text {
  overflow-y: hidden;
}

.info__poster {
  border: 1px solid var(--light30);
  border-radius: 40px;
}

.info__poster_service {
  object-fit: cover;
  object-position: center;
}

.info__poster_margined {
  margin-bottom: 40px;
}

.info__extra_blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info__extra_single {
  display: flex;
  flex-direction: column;
}

/* .info__extra_overflowed-y {
  overflow-y: auto;
} */

/* Стили для разных разрешений экранов */
/* main */
.main_lagre_screen {
  width: 83.75vw;
  margin-bottom: 4.38vw;
}

.main_desktop {
  width: 84.33vw;
  margin-bottom: 4.10vw;
}

.main_laptop {
  width: 91.80vw;
  margin-bottom: 8.20vw;
}

.main_tablet {
  width: 92.19vw;
  margin-bottom: 8.85vw;
}

.main_mobile {
  width: 92.27vw;
  margin-bottom: 16.43vw;
}

/* navigation */
.navigation_tablet {
  gap: 7.81vw;
}

.navigation_mobile {
  gap: 5.80vw;
  padding-block-start: 0;
  padding-block-end: 24px;
}

/* info */
.info_lagre_screen {
  gap: 5.21vw;
}

.info_desktop {
  gap: 8.93vw;
}

.info_laptop {
  gap: 7.81vw;
}

.info_tablet {
  gap: 10.42vw;
}

.info_mobile {
  gap: 19.32vw;
}

/* info__content */
.info__content_large-resolution {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.info__content_small-resolution {
  flex-direction: column-reverse;
}

/* info__main */
.info__main_lagre_screen {
  gap: 3.54vw;
  width: 48.33vw;
}

.info__main_desktop {
  gap: 1.76vw;
  width: 48.46vw;
  padding-right: 7.17vw;
  /* height: 100%; */
  /* overflow-y: scroll; */
}

.info__main_laptop {
  gap: 5.86vw;
  width: 52.73vw;
}

.info__main_tablet {
  gap: 7.81vw;
}

.info__main_mobile {
  gap: 7.73vw;
}

/* info__desc */
.info__desc_large-resolution {
  gap: 24px;
}

.info__desc_small-resolution {
  gap: 1.25vw;
}

/* info__text */
.info__text_large-screen {
  height: 14.38vw;
}

.info__text_desktop {
  height: 11.86vw;
}

.info__text_laptop {
  height: 29.69vw;
}

/* info__poster */
.info__poster_large-screen {
  width: 27.08vw;
  height: 34.38vw;
}

.info__poster_desktop {
  width: 34.11vw;
  height: 43.34vw;
}

.info__poster_laptop {
  width: 37.11vw;
  height: 47.07vw;
}

.info__poster_tablet {
  width: 100%;
  height: 116.93vw;
}

.info__poster_mobile {
  width: 100%;
  height: 117.15vw;
}

/* info__extra */
.info__extra_large-screen {
  gap: 24px;
}

.info__extra_desktop {
  gap: 23px;
}

.info__extra_laptop {
  gap: 1.95vw;
}

.info__extra_tablet {
  gap: 1.56vw;
}

.info__extra_mobile {
  gap: 2.90vw;
}
