.share {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.copy {
  position: absolute;
  z-index: 2;
  left: calc(50% - 131px);
  top: calc(100dvh - 60px - 47px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.copied {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}