.share {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  /* position: relative; */
}

/* .copy {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 340px;
  transition: opacity 5s;
} */

.copied {
  opacity: 1;
  visibility: visible;
  /* display: block; */
}