.teams-list {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: var(--tabs-count);
  grid-auto-flow: column;
  gap: 40px;
  /* --webkit-transform: translate3d(0,0,0); */
}

/* .teams-list_faded {
  background: linear-gradient(180deg, red 0%, rgba(247, 247, 247, 0) 10%, rgba(247, 247, 247, 0) 50%, rgba(247, 247, 247, 0) 90%, red 100%);
} */

/* Стили для разных разрешений экранов */
.teams-list_mobile {
  padding-right: 3.86vw;
}