.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.title-container_columned {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.title-container h3 {
  flex-shrink: 0;
}

.title {
  display: -webkit-box;
  max-height: 96px;
  overflow: hidden;
  overflow-y: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.extra-title {
  border-left: 1px solid var(--nephritis100);
  padding-left: 12px;
}

.extra-title_not-bordered {
  border-left: none;
  padding-left: 0;
}