.partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Стили для разных разрешений экрано */
.partners_large {
  gap: 2.92vw;
  padding-block: 3.13vw;
}

.partners_desktop {
  gap: 4.10vw;
  padding-block: 3.22vw;
}

.partners_laptop {
  gap: 5.47vw;
  padding-block: 5.86vw;
}

.partners_tablet {
  row-gap: 5.21vw;
  column-gap: 10.42vw;
  padding-inline: 4.69vw;
  padding-block: 5.73vw;
}

.partners_mobile {
  row-gap: 9.66vw;
  column-gap: 19.32vw;
  padding-inline: 3.62vw;
  padding-block: 10.63vw;
}