:is(:root,body):has(.modal) {
  overflow: hidden;
}

.modal {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--light60);
  position: absolute;
  inset: 0;
  z-index: 10;
}

.modal_large-gap {
 gap: 24px;
}

.modal_small-gap {
  gap: 12px;
}

.modal_height-regular {
  height: 100vh;
}

.modal_height-mobile {
  height: 100%;
}

.modal_positioned {
  position: relative;
}

.modal_overflowed-y {
  overflow-y: auto;
}

.modal_centered {
  justify-content: center;
  align-items: center;
}

.modal__buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal__button {
  background-color: transparent;
  display: flex;
  cursor: pointer;
}

.modal__button_back {
  color: var(--light20);
  padding-block: 14px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.modal__arrow {
  padding: 0;
}

.modal__button_share {
  color: var(--light20);
  padding-block: 14px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.modal__button_close {
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 60px;
  height: 60px;
  z-index: 1;
}

.modal__button_back:hover span {
  color: var(--dark80);
}

.modal__button_back:hover svg {
  fill: var(--dark80);
}

.modal__button_back:active span {
  color: var(--navy);
}

.modal__button_back:active svg {
  fill: var(--navy);
}

.modal__button_share:hover span {
  color: var(--dark80);
}

.modal__button_share:hover svg {
  fill: var(--dark80);
}

.modal__button_share:active span {
  color: var(--navy);
}

.modal__button_share:active svg {
  fill: var(--navy);
}

.modal__button_close:hover svg {
  fill: var(--nephritis120);
}

.modal__button_close:active svg {
  fill: var(--navy);
}

/* Стили для разных разрешений экранов */
.modal_large-screen {
  padding-top: 2.50vw;
  padding-bottom: 3.54vw;
  /* padding-inline: 4.17vw; */
}

.modal_desktop {
  padding-top: 2.34vw;
  padding-bottom: 0.88vw;
  /* padding-inline: 7.83vw; */
}

.modal_laptop {
  padding-top: 3.13vw;
  padding-bottom: 4.30vw;
  /* padding-inline: 4.10vw; */
}

.modal_tablet {
  padding-block: 4.17vw;
  /* padding-inline: 3.91vw; */
}

.modal_mobile {
  padding-block: 3.86vw;
  /* padding-inline: 3.86vw; */
}

.modal__button_close_large-screen {
  top: 48px;
  right: 48px;
}

.modal__button_close_large-screen {
  top: 48px;
  right: 48px;
}

.modal__button_close_desktop {
  top: 32px;
  right: 32px;
}

.modal__button_close_laptop {
  top: 42px;
  right: 42px;
}

.modal__button_close_tablet {
  top: 3.91vw;
  right: 3.91vw;
}

.modal__button_close_mobile {
  top: 16px;
  right: 16px;
}

/* Стили для скролла */
/* .modal::-webkit-scrollbar-thumb {
  border-radius: 14px; */
  /* background-color: var(--light30); */
  /* box-shadow: inset 0 0 14px 14px var(--light30);
  border: solid 4px transparent;
} */

/* 4px scroll thumb. 10px margin from right margin */
/* .modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px transparent;
  border: solid 4px transparent;
} */

/* .modal::-webkit-scrollbar {
  width: 14px;
} */

/* .modal::-webkit-scrollbar:corner-present {
  display: none;
} */