.contacts {
  width: 100vw;
  background-position: top;
  background-repeat: no-repeat;
}

.contacts_large-gap {
  gap: 60px;
}

.contacts_small-gap {
  gap: 44px;
}

.contacts_background-covered {
  background-size: cover;
}

.contacts_background-contained {
  background-size: contain;
}

/* Стили для разных разрешений экранов */
.contacts_large {
  background-image: url("https://storage.yandexcloud.net/otkter-bucket/banners/banner_large.webp");
  padding-inline: 27.60vw;
}

.constants_desktop {
  background-image: url("https://storage.yandexcloud.net/otkter-bucket/banners/banner_desktop.webp");
  padding-inline: 22.18vw;
}

.constants_laptop {
  background-image: url("https://storage.yandexcloud.net/otkter-bucket/banners/banner_laptop.webp");
  padding-top: 54.30vw;
  padding-inline: 12.89vw;
}

.constants_tablet {
  background-image: url("https://storage.yandexcloud.net/otkter-bucket/banners/banner_tablet.webp");
  padding-top: 67.19vw;
}

.constants_mobile {
  background-image: url("https://storage.yandexcloud.net/otkter-bucket/banners/banner_tablet.webp");
  padding-top: 77.29vw;
}

.constants_mobile button {
  width: 100%;
}