.free {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* Стили для разных разрешений экранов */
.free_large {
  margin-left: 2.08vw;
}

.free_desktop {
  margin-left: 1.17vw;
}

.free_laptop {
  margin-left: 3.91vw;
}

.free_tablet {
  margin-left: 2.08vw;
}

.free_mobile {
  margin-top: 3.86vw;
}