.tab-list {
  width: max-content;
  max-width: none;
  display: flex;
  gap: var(--tabs-gap);
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  max-height: 60px;
}

.tab-list_large-gap {
  gap: 16px;
}

.tab-list_middle-gap {
  gap: 4px;
}

.tab-list_small-gap {
  gap: 2px;
}

.tab-list_no-gap {
  gap: 0;
}

.tab-list_widthed {
  max-width: 262px;
}