.point {
  width: 4px;
  min-width: 4px;
  height: 4px;
  margin: 2px;
  border-radius: 100px;
  background-color: var(--color);
}

.point_current {
  width: 12px;
  min-width: 12px;
  height: 6px;
  margin-inline: 0;
  margin-block: 1px;
  background-color: var(--current-color);
}