.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Стили для разных разрешений экранов */
.card-list_large-resolution {
  gap: 24px;
}

.card-list_medium-resolution {
  gap: 20px;
}

.card-list_small-resolution {
  gap: 80px;
  flex-grow: 1;
}