.navigation-bar {
  display: flex;
  background-color: transparent;
}

.navigation-bar_rowed {
  flex-direction: row;
  align-items: center;
}

.navigation-bar_columed {
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 60px - 16px);
  width: 100vw;
  margin-top: 16px;
}

/*.navigation-bar_without-social {
  height: 91vh;
}

.navigation-bar_with-social {
  height: calc(100vh - 78px);
}*/

.navigation-bar_colored {
  background-color: var(--light100);
}

.navigation-bar_bordered {
  border-radius: 40px;
}

.navigation-bar__link-list {
  display: flex;
}

.navigation-bar__link-list_rowed {
  flex-direction: row;
  align-items: center;
}

.navigation-bar__link-list_columed {
  flex-direction: column;
  align-items: center;
}

/* Селекторы для разных разрешений экрана */
.navigation-bar_large-screen {
  margin-right: 20.89vw;
  margin-left: 14.11vw;
}

.navigation-bar__link-list_large-screen {
  gap: 3.13vw;
}

.navigation-bar_desktop {
  margin-right: 16.76vw;
  margin-left: 7.25vw;
}

.navigation-bar__link-list_desktop {
  gap: 2.34vw;
}

.navigation-bar_laptop {
  justify-content: center;
}

.navigation-bar__link-list_laptop {
  gap: calc(14px + 3.13vw + 14px);
}

.navigation-bar_tablet {
  justify-content: center;
}

.navigation-bar__link-list_tablet {
  gap: calc(14px + 4.17vw + 14px);
}

.navigation-bar_mobile {
  padding-top: 21.26vw;
  height: calc(100dvh - 60px - 16px);
  padding-bottom: calc(7.25vw + 14px);
  justify-content: space-between;
}

.navigation-bar__link-list_mobile {
  gap: calc(14px + 2.9vw + 14px);
}

