.service {
  display: grid;
  scroll-snap-align: center;
  /* scroll-snap-stop: always; */
}

.service__image {
  display: block;
  height: 100%;
  width: 100%;
  object-position: 60% 40%;
  object-fit: cover;
  border-radius: 500px;
}

/* Стили для разных разрешений экранов */
/* .service */
.service_large-screen {
  gap: 8.33vw;
  grid-template-columns: 34.17vw 41.25vw;
  grid-template-rows: 26.04vw;
  padding-bottom: 10px;
}

.service_desktop {
  gap: 8.93vw;
  grid-template-columns: 34.11vw 41.29vw;
  grid-template-rows: 26.06vw;
  padding-bottom: 10px;
}

.service_laptop {
  gap: 3.91vw;
  grid-template-columns: 91.80vw;
  grid-template-rows: 57.81vw auto;
}

.service_tablet {
  gap: 2.60vw;
  grid-template-columns: 92.19vw;
  grid-template-rows: 57.29vw auto;
}

.service_mobile {
  gap: 4.83vw;
  grid-template-columns: 92.27vw;
  grid-template-rows: 57.97vw auto;
}