.service {
  display: grid;
  /* scroll-snap-align: center; */
  justify-content: center;
  /* scroll-snap-stop: always; */
}

.service__image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 500px;
  object-fit: cover;
  object-position: 60% 40%;
}

.service__info {
  display: flex;
  flex-direction: column;
}

.service__info_rows-ordered {
  grid-row: 1;
}

.service__info_gapped {
  gap: 24px;
}

.service__title {
  overflow-y: hidden;
}

.service__title_paddinged {
  padding-top: 40px;
}

.service__text {
  display: flex;
  flex-direction: column;
}

.service__text_large-gap {
  gap: 24px;
}

.service__text_small-gap {
  gap: 12px;
}

.service__text_overflowed {
  overflow-y: hidden;
}

/* Стили для разных разрешений экранов */
/* .service */
.service_large {
  grid-template-columns: 34.17vw 41.25vw;
  grid-template-rows: 26.04vw;
  gap: 8.33vw;
}

.service_desktop {
  grid-template-columns: 34.11vw 41.29vw;
  grid-template-rows: 26.06vw;
  gap: 8.93vw;
}

.service_laptop {
  grid-template-columns: 91.80vw;
  grid-template-rows: 57.81vw auto;
  gap: 3.91vw;
}

.service_tablet {
  grid-template-columns: 92.19vw;
  grid-template-rows: 57.29vw auto;
  gap: 2.60vw;
}

.service_mobile {
  grid-template-columns: 92.27vw;
  grid-template-rows: 57.97vw auto;
  gap: 4.83vw;
}

/* service__info */
.service__info_large {
  justify-content: space-between;
}

.service__info_desktop {
  justify-content: space-between;
  overflow-y: scroll;
}

.service__info_desktop div:nth-child(2) {
  flex-wrap: nowrap;
}

.service__info_mobile div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* service__text */
.service__text_laptop {
  height: 18.75vw;
}

.service__text_tablet {
  height: 15.63vw;
}

.service__text_mobile {
  height: 52.17vw;
}

/* service__title */
.service__title_tablet {
  height: 80px;
}

.service__title_mobile {
  height: 120px;
}