.header {
  display: flex;
  width: 100vw;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: var(--light60);
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

/* Стили для разных разрешений экранов */
.header_mobile {
  justify-content: space-between;
  padding-left: 3.86vw;
  padding-right: 7.25vw;
}

/* .header_bordered {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
} */

/* .header_overlayed {
  position: relative;
} */

/* .header_overlayed::after {
  content: "";
  display: var(--overlay-visibility);
  background-color: var(--light30);
  width: 100vw;
  height: 100vh;
  inset: 0;
  position: absolute;
  z-index: -1;
} */

.header__icons {
  display: flex;
  flex-direction: row;
  gap: 52px;
}

.header__icons_laptop {
  margin-left: 50.20vw;
}

.header__icons_tablet {
  margin-left: 36.72vw;
}