.content-slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.content-slider__item_large-gap {
  gap: 80px;
}

.content-slider__item_middle-gap {
  gap: 24px;
}

.content-slider__item_small-gap {
  gap: 20px;
}

/* Стили для разных разрешений экранов */
.content-slider__item_large {
  padding-inline: 8.13vw;
}

.content-slider__item_desktop {
  padding-inline: 7.83vw;
}

.content-slider__item_laptop {
  padding-inline: 4.10vw;
}

.content-slider__item_tablet {
  padding-inline: 3.91vw;
}

.content-slider__item_mobile {
  padding-inline: 3.86vw;
}