.video {
  /* display: block;
  background-position: 60% 10%;
  background-size: cover; 
  width: 100%;
  height: 100%; */
  object-fit: cover;
}

.video_bordered {
  border-radius: 800px;
}

.video_half-bordered {
  border-top-left-radius: 800px;
  border-bottom-left-radius: 800px;
}

/* Стили для разных разрешений экранов */
.video_large-screen {
  width: 49.38vw;
  height: 43.13vw;
}

.video_desktop {
  width: 49.12vw;
  height: 40.12vw;
}

.video_laptop {
  width: 91.80vw;
  height: 58.59vw;
}

.video_tablet {
  width: 92.19vw;
  height: 58.85vw;
}

.video_mobile {
  width: 92.27vw;
  height: 58.94vw;
}




