.merch-link {
  padding: 16px 32px;
  color: var(--color);
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.merch-link:hover {
  border-bottom: unset;
}