.slider-section {
  display: flex;
  flex-direction: column;
  padding-block: 80px;
  background-color: transparent;
}

.slider-section_large-gap {
  gap: 60px;
}

.slider-section_small-gap {
  gap: 44px;
}

.slider-section__header {
  width: 100%;
  display: flex;
}

.slider-section__header_rowed {
  flex-direction: row;
  justify-content: space-between;
}

.slider-section__header_columned {
  flex-direction: column;
  /* gap: 20px; */
  justify-content: center;
  align-items: center;
}

.slider-section__header_columned_large-gap {
  gap: 60px;
}

.slider-section__header_columned_middle-gap {
  gap: 44px;
}

.slider-section__header_columned_small-gap {
  gap: 20px;
}

/* Стили для разных разрешений экранов */
.slider-section_large-screen {
  padding-block: 6.88vw;
}

.slider-section__header_large-screen {
  padding-inline: 8.13vw;
}

.slider-section__header_desktop {
  padding-inline: 7.83vw;
}

.slider-section__header_laptop {
  padding-inline: 4.10vw;
}

.slider-section__header_tablet {
  padding-inline: 3.91vw;
}

.slider-section__header_mobile {
  padding-inline: 3.86vw;
}
