.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
  width: 232px;
  border-radius: 40px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: contain, cover;
}

.hero-card_regular-placer {
  background-image: url("https://storage.yandexcloud.net/otkter-bucket/hero/decorations/placers/placer.avif"), var(--background-image);
}

.hero-card_ticket-placer {
  background-image: url("https://storage.yandexcloud.net/otkter-bucket/hero/decorations/placers/placer_ticket.avif"), var(--background-image);
  cursor: pointer;
}

.hero-card_large-height {
  height: 256px;
}

.hero-card_small-height {
  height: 200px;
}