.hero {
  display: flex;
  background-color: var(--light60);
  align-items: center;
}

.hero_rowed {
  flex-direction: row;
  justify-content: space-between;
}

.hero_columned {
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__content_large-width {
  width: 100%;
}

.hero__content_large-gap {
  gap: 80px;
}

.hero__content_small-gap {
  gap: 40px;
}

.hero__main-info {
  display: flex;
  flex-direction: column;
}

.hero__main-info_large-gap {
  gap: 20px;
}

.hero__main-info_small-gap {
  gap: 12px;
}

.hero__title {
  width: 235px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero__title_large-height {
  height: 52px;
}

.hero__title_small-height {
  height: 48px;
}


.hero__extra-info {
  display: grid;
}

.hero__extra-info_large-gap {
  gap: 24px;
}

.hero__extra-info_middle-gap {
  gap: 20px;
}

.hero__extra-info_small-gap {
  gap: 12px;
}

.hero__stat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero__stat_gapped {
  gap: 4px;
}

/* Стили для разных разрешений экранов */
/* hero */
.hero_large-screen {
  padding-left: 8.13vw;
}

.hero_desktop {
  padding-left: 7.83vw;
}

.hero_laptop {
  gap: 7.81vw;
  padding: 12px 4.10vw 7.81vw;
}

.hero_tablet {
  gap: 7.81vw;
  padding: 12px 3.91vw 9.38vw;
}

.hero_mobile {
  gap: 9.66vw;
  padding: 12px 3.86vw 3.86vw;
}

/* hero__title */
/* .hero__title_large-screen {
  padding: 0.43vw 1.15vw;
}

.hero__title_desktop {
  padding: 0.62vw 1.62vw;
}

.hero__title_laptop {
  padding: 0.82vw 2.16vw;
}

.hero__title_tablet {
  padding: 1.09vw 2.88vw;
}

.hero__title_mobile {
  padding: 12px 3.86vw 3.86vw;
} */

/* hero__extra-info */
.hero__extra-info_large-screen {
  grid-template-columns: repeat(3, 12.92vw);
}

.hero__extra-info_desktop {
  grid-template-columns: repeat(3, 12.59vw);
}

.hero__extra-info_laptop {
  grid-template-columns: repeat(3, 24.22vw);
}

.hero__extra-info_tablet {
  grid-template-columns: repeat(3, 29.69vw);
}

.hero__extra-info_mobile {
  grid-template-rows: repeat(3, 60px);
}