/* section */
.section_justified {
  justify-content: flex-end;
}

.section_l-gap {
  gap: 80px;
}

.section_m-gap {
  gap: 60px;
}

.section_s-gap {
  gap: 40px;
}

.section_xs-gap {
  gap: 24px;
}

.section_columned_reversed {
  flex-direction: column-reverse;
  padding-block-start: 0;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
}

.content_large-width {
  width: 100%;
}

.content_large-gap {
  gap: 80px;
}

.content_small-gap {
  gap: 40px;
}

/* main-info */
.main-info {
  display: flex;
  flex-direction: column;
}

.main-info_large-gap {
  gap: 20px;
}

.main-info_small-gap {
  gap: 12px;
}

/* title */
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 235px;
}

.title_large-height {
  height: 52px;
}

.title_small-height {
  height: 48px;
}

/* extra-info */
.extra-info {
  display: grid;
}

.extra-info_large-gap {
  gap: 24px;
}

.extra-info_middle-gap {
  gap: 20px;
}

.extra-info_small-gap {
  gap: 12px;
}

/* stat */
.stat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stat_gapped {
  gap: 4px;
}

/* Стили для разных разрешений экранов */
/* section */
.section_tablet {
  padding-block-end: 72px;
}

.section_mobile {
  padding-block-end: 16px;
}

/* extra-info */
.extra-info_large-screen {
  grid-template-columns: repeat(3, 12.92vw);
}

.extra-info_desktop {
  grid-template-columns: repeat(3, 12.59vw);
}

.extra-info_laptop {
  grid-template-columns: repeat(3, 24.22vw);
}

.extra-info_tablet {
  grid-template-columns: repeat(3, 29.69vw);
}

.extra-info_mobile {
  grid-template-rows: repeat(3, 60px);
}