.poster {
  border: 1px solid var(--light30);
  border-radius: 40px;
  object-fit: cover;
  object-position: center;
}

.poster_margined {
  margin-bottom: 40px;
}

/* Стили для разных разрешений экранов */
.poster_large {
  width: 27.08vw;
  height: 34.38vw;
}

.poster_desktop {
  width: 34.11vw;
  height: 43.34vw;
}

.poster_laptop {
  width: 37.11vw;
  height: 47.07vw;
}

.poster_tablet {
  width: 100%;
  height: 116.93vw;
}

.poster_mobile {
  width: 100%;
  height: 117.15vw;
}