.logo {
  width: var(--width);
  height: var(--height);
}

.social {
  width: 32px;
  height: 32px;
}

.social {
  fill: var(--nephritis100);
}

.social:hover {
  fill: var(--nephritis120);
}

.social:active {
  fill: var(--navy);
}

.nav {
  width: 32px;
  height: 32px;
}

.nav:hover {
  fill: var(--nephritis120);
}

.close {
  width: 32px;
  height: 32px;
  position: absolute;
}

.category {
  width: 24px;
  height: 24px;
}

.arrow {
  box-sizing: content-box;
  width: 32px;
  height: 32px;
}

.arrow:hover {
  fill: var(--hover-color);
}

.arrow:active {
  fill: var(--active-color);
  border-radius: 100px;
  background-color: var(--light100);
}

.events {
  align-self: start;
  width: 20px;
  height: 20px;
}