.logo {
  width: var(--width);
  height: var(--height);
}

.social {
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin: 14px;
  cursor: pointer;
}

.social:hover {
  fill: var(--hover-color);
}

.social:active {
  fill: var(--active-color);
}

.social:hover svg {
  fill: var(--hover-color);
}

.social:active svg {
  fill: var(--active-color);
}

.copy {
  width: 32px;
  height: 32px;
  margin: 14px;
  cursor: pointer;
}

.copy:hover {
  fill: var(--hover-color);
}

.copy:active {
  fill: var(--active-color);
}

.copy:hover svg {
  fill: var(--hover-color);
}

.copy:active svg {
  fill: var(--active-color);
}

.nav {
  width: 32px;
  height: 32px;
}

.nav:hover {
  fill: var(--nephritis120);
}

.close {
  position: absolute;
  width: 32px;
  height: 32px;
}

.category {
  width: 24px;
  height: 24px;
}

.arrow {
  box-sizing: content-box;
  min-width: 32px;
  height: 32px;
  padding: 14px;
  cursor: pointer;
}

.arrow:hover {
  fill: var(--hover-color);
}

.arrow:active {
  border-radius: 100px;
  fill: var(--active-color);
  background-color: var(--light100);
}

.events {
  align-self: start;
  width: 20px;
  height: 20px;
}

.tab {
  box-sizing: content-box;
  width: 32px;
  height: 32px;
  padding: 14px;
  cursor: pointer;
}

.tab:active {
  border-radius: 100px;
  fill: var(--active-color);
  background-color: var(--light100);
}

.ticket {
  width: 16px;
  height: 16px;
}