.decor-image {
  display: block;
  height: var(--height);
  width: var(--width);
  background-color: var(--background-color);
  background-image: var(--url);
  /* background-position: 60% 10%;
  background-size: cover; */
  /* background-position: 46% 46%;
  background-size: 156% 116%; */
}

.decor-image_oval {
  background-position: 60% 10%;
  background-size: cover;
}

.decor-image_orb {
  background-position: 46% 46%;
  background-size: 156% 116%;
}

.decor-image_full-bodered {
  border-radius: var(--border-radius);
}

.decor-image_custom-bodered {
  border-top-left-radius: var(--border-radius-top-left);
  border-top-right-radius: var(--border-radius-top-right);
  border-bottom-right-radius: var(--border-radius-bottom-right);
  border-bottom-left-radius: var(--border-radius-bottom-left);
}
