.project-groups-list {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(var(--tabs-count), 100vw);
  column-gap: 10px;
}

/* Стили для разных разрешений экранов */
.project-groups-list_mobile {
  padding-right: 3.86vw;
}