.color-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.color-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--dark100);
  font-family: "Unbounded", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: none;
}

.color-list-item::before {
  content: "";
  display: block;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border: 1px var(--light30) solid;
  border-radius: 50%;
  background-color: var(--color);
}