.link {
  font-family: "Unbounded", sans-serif;
  width: fit-content;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  padding-block: 16px;
  padding-inline: 32px;
  color: var(--nephritis100);
}

/* Стили для разных разрешений экранов */