.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.controls_rowed {
  flex-direction: row;
}

.controls_columned {
  flex-direction: column;
}

.controls_large-gap {
  gap: 20px;
}

.controls_small-gap {
  gap: 12px;
}

.button_max-width {
  width: 100%;
}

.button_min-width {
  width: min-content;
}

.button_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin: 0;
  padding-left: 20px;
  padding-block: 14px;
}

.button_icon a {
  margin: 0;
}

.button_icon:hover a svg {
  fill: currentColor;
}

.button_icon svg {
  margin: 0;
}

/* Стили для разных разрешений экранов */
.controls_mobile {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.controls_mobile_group {
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}