.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.controls_rowed {
  flex-direction: row;
}

.controls_columned {
  flex-direction: column;
}

.controls_large-gap {
  gap: 20px;
}

.controls_small-gap {
  gap: 12px;
}

.extra-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.button_max-width {
  width: 100%;
}

.button_min-width {
  width: min-content;
}

.button_icon {
  display: flex;
  gap: 12px;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-block: 14px;
}

.button_icon a {
  margin: 0;
}

.button_icon:hover a svg {
  fill: currentColor;
}

/* Стили для разных разрешений экранов */
.controls_mobile {
  width: 100%;
  align-items: center;
  flex-direction: column;
}

/* .button_mobile {
  width: 100%;
} */

.controls_mobile_group {
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
}

/* .button_mobile_icon {
  width: min-content;
} */

.extra-link_large-screen {
  margin-left: 2.08vw;
}

.extra-link_desktop {
  margin-left: 1.17vw;
}

.extra-link_laptop {
  margin-left: 3.91vw;
}

.extra-link_tablet {
  margin-left: 2.08vw;
}

.extra-link_mobile {
  margin-top: 3.86vw;
}