.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.extra-link {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
/* Стили для разных разрешений экранов */
/* .controls_large-resolution {
  flex-direction: row;
}

.controls_large-resolution button {
  margin-left: 32px;
}

.controls_large-resolution button:first-child {
  margin-left: 0;
}

.controls_small-resolution {
  flex-direction: column;
  margin-left: 0;
} */

.controls_mobile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button_mobile {
  width: 100%;
}

.extra-link_large-screen {
  margin-left: 2.08vw;
}

.extra-link_desktop {
  margin-left: 1.17vw;
}

.extra-link_laptop {
  margin-left: 3.91vw;
}

.extra-link_tablet {
  margin-left: 2.08vw;
}

.extra-link_mobile {
  margin-top: 3.86vw;
}