.more-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  color: var(--nephritis100);
  font-family: "Unbounded";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  background-color: var(--light80);
}