.tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.tab-bar__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 44px);
  grid-auto-flow: column;
  overflow-x: auto;
  scrollbar-width: none;
  /* justify-content: space-between; */
  height: 100%;
  align-items: center;
}

.tab-bar__item-link {
  width: 44px;
  height: 44px;
}

.tab-bar__item-link-item {
  width: 100%;
  height: 100%;
}

/* Стили для разных разрешений экранов */
/* tab-bar */
.tab-bar_large-screen {
  width: 27.08vw;
}

.tab-bar_desktop {
  width: 34.11vw;
}

.tab-bar_laptop {
  width: 44.92vw;
}

.tab-bar_small-resolution {
  width: 100%;
}

/* tab-bar__items */
.tab-bar__items_large-screen {
  max-width: 18.80vw;
  gap: 0.99vw;
}

.tab-bar__items_desktop {
  max-width: 23.65vw;
  gap: 0.88vw;
}

.tab-bar__items_laptop {
  max-width: 31.05vw;
  gap: 1.07vw;
}

.tab-bar__items_tablet {
  max-width: 64.45vw;
  gap: 5.99vw;
}

.tab-bar__items_mobile {
  max-width: 59.90vw;
  gap: 1.69vw;
}