.tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 60px;
  scrollbar-width: none;
}

.tab-bar_widthed {
  width: 100%;
}

/* .content-slider {
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none;
} */

.tab-bar-wrapper {
  display: flex;
  width: 100%;
}

.tab-bar-wrapper_rowed {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tab-bar-wrapper_columned {
  flex-direction: column;
  align-items: center;
}

.tab-bar-wrapper_large-gap {
  gap: 60px;
}

.tab-bar-wrapper_middle-gap {
  gap: 44px;
}

.tab-bar-wrapper_small-gap {
  gap: 20px;
}

/* Стили для разных разрешений экранов */
/* tab-bar */
.tab-bar_large {
  width: 69.58vw;
}

.tab-bar_desktop {
  /* width: 55.64vw; */
  gap: 40px;
}

.tab-bar_laptop {
  /* width: 76.17vw; */
  gap: 68px;
}

/* tab-bar-wrapper */
.tab-bar-wrapper_large {
  padding-inline: 8.13vw;
}

.tab-bar-wrapper_desktop {
  padding-inline: 7.83vw;
}

.tab-bar-wrapper_laptop {
  padding-inline: 4.10vw;
}

.tab-bar-wrapper_tablet {
  padding-inline: 3.91vw;
}

.tab-bar-wrapper_mobile {
  padding-inline: 3.86vw;
}

/* .tab-bar_large-screen_team {
  width: 32.97vw;
  min-width: 41.25vw;
}

.tab-bar_large-screen_services {
  width: 41.25vw;
}

.tab-bar_large-screen_projects {
  width: 69.58vw;
}

.tab-bar_desktop_team {
  width: 41.95vw;
}

.tab-bar_desktop_services {
  width: 43.63vw;
}

.tab-bar_desktop_projects {
  width: 41.29vw;
}

.tab-bar_laptop_team {
  width: 55.57vw;
}

.tab-bar_laptop_services {
  width: 55.86vw;
}

.tab-bar_laptop_projects {
  width: 60.55vw;
}

.content-slider_large-screen {
  gap: 0.83vw;
}

.content-slider_desktop {
  gap: 0.29vw;
}

.content-slider_laptop {
  gap: 0;
}

.content-slider_tablet {
  gap: 2px;
}

.content-slider_mobile {
  display: block;
  width: calc(100% - 120px);
} */